#main {
  align-items: center;
  background-image: url('../images/auth_background.jpg');
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
}

#main h1 {
  text-shadow: 0 0 3px #000;
}

#auth_form {
  align-items: center;
  background-color: #eeffffcc;
  border: 1px solid #eff;
  border-radius: 10px;
  box-shadow: 0 0 20px #d9fcfc;
  color: #000;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-around;
  max-width: 500px;
  min-height: 55vh;
  padding: 20px 10px;
  position: relative;
  width: 100%;
}

#auth_form > img {
  margin-bottom: 10px;
  width: 30%;
}

#auth_form h2 {
  align-self: flex-start;
  color: #555;
  font-size: 24px;
  margin-left: 5%;
}

#auth_form div {
  width: 80%;
}

#auth_form input {
  border: 1px solid #666;
  border-radius: 20px;
  padding: 10px 15px;
  transition: 0.1s ease-in-out;
  width: 100%;
}

#auth_form input:focus {
  box-shadow: 0 0 5px #555;
  transform: scale(1.02);
}

#auth_form #authSubmitButton,
#auth_form #authSubmitButton a {
  color: #fff;
}

#auth_form #authSubmitButton {
  background-color: #2493fc;
  border: 1px solid #444;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  margin-top: 10px;
  text-transform: uppercase;
  width: 80%;
}

#auth_form #authSubmitButton:hover {
  background-color: #1e7fda;
  transform: scale(0.99);
}

#auth_form #authSubmitButton:active {
  opacity: 0.8;
}

#auth_form #authSubmitButton a {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

#auth_form #clearInputsButton {
  background-color: transparent;
  border: none;
  bottom: 2%;
  cursor: pointer;
  right: 3%;
  position: absolute;
}

#auth_form #clearInputsButton p {
  font-size: 12px;
  position: absolute;
  top: -90%;
}

#auth_form #clearInputsButton p:hover {
  text-decoration: underline;
}

#auth_form #clearInputsButton img {
  width: 100%;
}

#auth_form .toggleAuthMsgButton {
  font-size: 16px;
  font-weight: 300;
  margin-top: 10px;
}

#auth_form .toggleAuthMsgButton,
#openRegisterMenuButton {
  color: #555;
}

#auth_form .toggleAuthMsgButton #openRegisterMenuButton {
  cursor: pointer;
  text-decoration: underline;
}

#auth_form .toggleAuthMsgButton #openRegisterMenuButton:hover {
  font-weight: 500;
}

@media (max-width: 440px) {
  #auth_form > img {
    width: 40%;
  }

  #auth_form .toggleAuthMsgButton #openRegisterMenuButton {
    display: block;
    margin-top: 5px;
    text-align: center;
  }
}
